@{
    ViewBag.Title = "Контакты";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Телефон</h3>
    </header>
    <p>
        <span>+7-923-101-8808</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span>
            <a href="mailto:dmitry@barsukov.net.ru">dmitry@barsukov.net.ru</a>
        </span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Адрес</h3>
    </header>
    <p>
        Россия, Новосибирск, 630084
    </p>
</section>