@{
    ViewBag.Title = "О приложении";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <p>
                Тестовое задание на должность Junior .NET Developer
            </p>
        </div>
    </section>
}

<h3>Сотрудники:</h3>
<ol class="round">
    <li class="one">
        <h5>Регистрация</h5>
        Для получения доступа каждый сотрудник должен @Html.ActionLink("зарегистрироваться", "Register", "Account")
    </li>

    <li class="two">
        <h5>Отчеты</h5>
         Зарегистрированный сотрудник может ежемесячно отчитывается об отработанном времени
    </li>

    <li class="three">
        <h5>Статистика</h5>
        Сотрудники могут просматривать все свои сохраненные отчеты
    </li>
</ol>

<h3>Администратор:</h3>
<ol class="round">
    <li class="one">
        <h5>Список сотрудников</h5>
        Изменение информации о сотруднике, его должности, повышение/понижение заработной платы, увольнение сотрудников
    </li>

    <li class="two">
        <h5>Статистика</h5>
         Просмотр заработной платы каждого сотрудника за месяц, а также суммарного дохода
    </li>
</ol>
