@{
    ViewBag.Title = "О приложении";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <p>
                Тестовое задание на должность Junior .NET Developer
            </p>
        </div>
    </section>
}

<h3>Возможности для сотрудников:</h3>
<ol class="round">
    <li class="one">
        <h5>Регистрация</h5>
        Для получения доступа каждый сотрудник должен @Html.ActionLink("зарегистрироваться", "Register", "Account")
    </li>

    <li class="two">
        <h5>Отчеты</h5>
        Используя приложение, сотрудники могут ежемесячно @Html.ActionLink("отчитываться", "Create", "Report")
        об отработанном времени для расчета заработной платы
    </li>

    <li class="three">
        <h5>Статистика</h5>
        Зарегистрированные сотрудники имеют доступ ко всем своим отчетам и могут просматривать их, используя
        фильтрацию по году или месяцу, а также изменять
    </li>
</ol>

<h3>Возможности для администратора:</h3>
<ol class="round">
    <li class="one">
        <h5>Список сотрудников</h5>
        Администратор может просматривать полный @Html.ActionLink("список сотрудников", "Index", "Report"), измененять информацию о каждом, назначать на должность,
        повышать или понижать заработную плату за час, а также увольнять сотрудников
    </li>

    <li class="two">
        <h5>Статистика</h5>
         С помощью приложения, администратор может получить доступ ко всем отчетам сотрудников (или конкретного сотрдуника) за месяц или год,
        может изменять их, а также удалять
    </li>
</ol>
